name: Builds - PAL3 - Mono - iOS

on: [push, pull_request]

jobs:
  build_pal3_mono_ios:
    name: Build PAL3 for ${{ matrix.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - iOS # Build an iOS player.
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          lfs: true
      - uses: actions/cache@v3.3.3
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-
      - uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
          buildName: PAL3
          versioning: Semantic
      # do not upload artifacts for iOS builds